extends ../layouts/default

block intro
	.container
		h1 Contact Us

block content
	.container
		if enquirySubmitted
			h5 Thanks for getting in touch, we'll be in contact with you shortly.
			p Feel free to check out some 
				a(href='/gallery') recent projects.
		else
			.row: .col-sm-8.col-md-6
			form(method='post')#contact-form
				input(type='hidden', name='action', value='contact')
				.row
					.col-md-6
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label(for='name')
								| Name
							input#name.form-control(type='text', placeholder='Enter name', required='required', name='name.full', value=formData['name.full'])
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label(for='email')
								| Email Address
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-envelope
								input#email.form-control(type='email', placeholder='Enter email', required='required', name='email', value=formData.email)
						.form-group
							label Phone
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-phone
								input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
						.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
							label What are you contacting us about?
							select(name='enquiryType').form-control
								option(value='') (select one)
								each type in enquiryTypes
									option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.col-md-6
						.form-group
							label(for='name')
								| Message
							textarea#message.form-control(name='message', placeholder='Your message...' rows=6).form-control= formData.message
							.g-recaptcha.pad-t-10.pull-right(data-theme="dark" data-sitekey="6LdmPCQTAAAAAFBAeu2cj2dcNo9mUH-xa_6zuFK0")
						.form-group
							.form-actions
								button#btnContactUs.btn.btn-primary.black.pull-right.margin-t-1em(type='submit')
									| Send Message
